@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700;800&display=swap");

.elearn-container {
  overflow: hidden;
  padding-top: 20px;
  padding-bottom: 80px;
  background-color: #f2f2f2;
  padding-inline: 15px;
}
.white-color-text {
  color: white;
}

.dark-color-text {
  color: #13183f;
}
.dark-color-background {
  background-color: #13183f;
}
.grey-color {
  color: #83869a;
}

.light-pink-color {
  color: #ffa7c3;
}
.light-pink-background {
  color: #ffa7c3;
}
.intense-pink-color {
  color: #f74780;
}
.pink-linear-gradient {
  background-image: linear-gradient(#f02aa6, #ff6f48);
}
.purple-linear-gradient {
  background: linear-gradient(#4851ff, #f02aa6);
}
.header-xl {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 56px;
  line-height: 70px;
  font-weight: 800;
}
.header-l {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 40px;
  line-height: 51px;
  font-weight: 800;
}
.header-m {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 32px;
  line-height: 40px;
  font-weight: 800;
}
.header-s {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 24px;
  line-height: 28px;
  font-weight: 800;
}
.bodyM {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  color: #83869a;
}
.bodyS {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 700;
}
.cover-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-component-elearn {
  height: 340px;

  position: relative;
  padding: 60px 30px 40px;

  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
}
.card-component-elearn img {
  position: absolute;
  top: -20px;
}
.main-container-elan {
  display: grid;
  column-gap: 30px;
  row-gap: 60px;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
}
.unique-card {
  padding-inline: 30px;
  padding-block: 40px;
  border-radius: 10px;
}
.footer-elan {
  padding-block: 30px;
  padding-inline: 30px;
}
@media screen and (min-width: 768px) {
  .cover-container {
    flex-direction: row;
    position: relative;
    margin-top: 150px;
    margin-bottom: 200px;
  }
  .hero-image {
    position: absolute;
    right: -330px;
    top: -250px;
  }
  .cover-text-container {
    flex-basis: 400px;
  }
  .elearn-container {
    padding-inline: 40px;
  }
  .unique-card {
    font-size: 32px;
    line-height: 40px;
    font-weight: 800;
  }
  .footer-elan {
    padding-inline: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .cover-container {
    margin-bottom: 250px;
  }
  .cover-text-container {
    flex-basis: 460px;
  }
  .cover-text-container p:first-child {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 56px;
    line-height: 70px;
    font-weight: 800;
  }
  .hero-image img {
    width: 900px;
    height: 900px;
  }
  .hero-image {
    top: -290px;
    right: -390px;
  }
  .elearn-container {
    padding-inline: 150px;
  }
  .footer-elan {
    padding-inline: 150px;
  }
}
