.main-card-container {
  display: flex;
  padding: 5px;
  background-color: bisque;
  align-items: center;
  justify-content: center;
}
.buy-btn {
  transition: all 0.2s;
  margin-top: 20px;
}
.buy-btn:hover {
  transform: translateY(-10px);
}
