@import url("https://fonts.googleapis.com/css2?family=Lato:wght@200;400;700&display=swap");
.home-container {
  height: 100vh;
  background-color: rgb(13, 17, 28);
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-hero {
  font-size: clamp(60px, 17vw, 600px);
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(13, 17, 28);
  cursor: default;
  font-weight: 400;
  font-family: "Lato", sans-serif;
}
.text-hero-code,
.puncte {
  text-shadow: 3px 0 goldenrod, -3px 0 goldenrod, 0 3px goldenrod,
    0 -3px goldenrod;
}
.blink {
  animation-name: blink;
  animation-duration: 0.7s;
  animation-iteration-count: 1;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
